<!-- footer -->
<div class="">
    <footer class="text-gray-600 body-font border-t">
      <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-center md:flex-row md:flex-nowrap flex-wrap flex-col">
        <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
            
            <span class="ml-3 mb-4 text-xl text-white uppercase"><img src="https://www.monkeysingh.com/wp-content/uploads/2021/05/rajsx-1-160x48.png" alt=""></span>
          </a>
          <!-- <p class="mt-2 text-sm text-white">Air plant banjo lyft occupy retro adaptogen indego</p> -->
        </div>
        <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2 class="title-font font-bold text-blue-600 underline text-xl tracking-widest text-md mb-3">Resources</h2>
            <nav class="list-none mb-10">
              <li>
                <a class="text-gray-500 hover:text-black" href="#">Features</a>
              </li>
              <li>
                <a class="text-gray-500 hover:text-black" href="#">Pricing</a>
              </li>
              <li>
                <a class="text-gray-500 hover:text-black" href="#">About Us</a>
              </li>
              <li>
                <a class="text-gray-500 hover:text-black" href="#">Reviews</a>
              </li>
              <li>
                <a class="text-gray-500 hover:text-black" href="#">Login</a>
              </li>
              <li>
                <a class="text-gray-500 hover:text-black" href="#">Sign Up</a>
              </li>
              <li>
                <a class="text-gray-500 hover:text-black" href="#">FAQs</a>
              </li>
              <li>
                <a class="text-gray-500 hover:text-black" href="#">Refer a freind</a>
              </li>
            </nav>
          </div>
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2 class="title-font font-bold text-blue-600 underline text-xl tracking-widest text-md mb-3">Legal</h2>
            <nav class="list-none mb-10">
              <li>
                <a class="text-gray-500 hover:text-black" href="#">T&C</a>
              </li>
              <li>
                <a class="text-gray-500 hover:text-black" href="#">Privacy Policy</a>
              </li>
            </nav>
          </div>
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2 class="title-font font-bold text-blue-600 underline text-xl tracking-widest text-md mb-3">Get in touch</h2>
            <nav class="list-none mb-10">
              <li>
                <a class="text-gray-500 hover:text-black" href="#">support@monkeysingh.com</a>
              </li>
              <li class="py-6">
                <a class="text-white bg-blue-500 py-2 px-6 cursor-pointer rounded-md" href="#">Message us</a>
              </li>
              <li class="text-blue-500"> 
                <a href="" class="text-3xl"><i class="fab fa-facebook-square"></i></a>
                <a href="" class="text-3xl"><i class="fab fa-twitter-square"></i></a>
                <a href="" class="text-3xl"><i class="fab fa-youtube"></i></a>
              </li>
            </nav>
          </div>
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2 class="title-font font-bold text-blue-600 underline text-xl tracking-widest text-md mb-3">We accept</h2>
            <nav class="list-none mb-10">
              <li>
                <a class="text-white hover:text-red-300" href="#"><img class="inline" src="https://sp-ao.shortpixel.ai/client/q_glossy,ret_img/https://designshifu.com/wp-content/themes/sterling-child-theme/images/icons/diners-club.jpg" alt=""></a>
                <a class="text-white hover:text-red-300" href="#"><img class="inline" src="https://sp-ao.shortpixel.ai/client/q_glossy,ret_img/https://designshifu.com/wp-content/themes/sterling-child-theme/images/icons/diners-club.jpg" alt=""></a>
                <a class="text-white hover:text-red-300" href="#"><img class="inline" src="https://sp-ao.shortpixel.ai/client/q_glossy,ret_img/https://designshifu.com/wp-content/themes/sterling-child-theme/images/icons/diners-club.jpg" alt=""></a>
              </li>
              <li>
                <a class="text-white hover:text-red-300" href="#"><img class="inline" src="https://sp-ao.shortpixel.ai/client/q_glossy,ret_img/https://designshifu.com/wp-content/themes/sterling-child-theme/images/icons/american-express.jpg" alt=""></a>
              </li>
              <li>
                <a class="text-white hover:text-red-300" href="#"><img class="inline" src="https://sp-ao.shortpixel.ai/client/q_glossy,ret_img/https://designshifu.com/wp-content/themes/sterling-child-theme/images/icons/diners-club.jpg" alt=""></a>
              </li>
            </nav>
          </div>
        </div>
      </div>
      <div class="bg-blue-500">
        <div class="container mx-auto py-4 px-5 flex flex-wrap justify-center">
          <p class="text-white text-sm text-center sm:text-left">© 2020 Copyright reserved —
            <a href="https://twitter.com/knyttneve" rel="noopener noreferrer" class="text-gray-200 ml-1" target="_blank">Monkey Singh</a>
          </p>
        </div>
      </div>
    </footer>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script defer src="js/header.js"></script>
</body>
</html>