<section class="pt-8 bg-white">
    <div class="">
        <div>
            <div>
                <div class="mx-auto text-center px-4 mt-12 text-5xl font-semibold">Frequently
                    Asked
                    Questions</div>
                <dl
                    class="mt-8 mx-auto max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl flex justify-between flex-col lg:flex-row lg:flex-wrap">
                    <div class="lg:w-1/2">
                        <div
                            class="question-and-answer select-none hover:shadow-xl cursor-pointer border-2 mx-2 my-3 px-6 py-4 rounded-lg text-sm group">
                            <dt class="question">
                                <div class="flex justify-between">
                                    <div class="text-blue-800 font-semibold">
                                        Monkeysingh really get unlimited design requests?
                                    </div>
                                    <div>
                                        <svg fill=currentColor
                                            class="question-chevron group-hover:bg-gray-500 h-5 block text-blue-800 bg-gray-400 rounded-full p-1"
                                            viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g stroke="currentColor" stroke-width="1" fill=currentColor
                                                fill-rule="evenodd">
                                                <g>
                                                    <polygon
                                                        points="9.29289322 12.9497475 10 13.6568542 15.6568542 8 14.2426407 6.58578644 10 10.8284271 5.75735931 6.58578644 4.34314575 8">
                                                    </polygon>
                                                </g>
                                            </g>
                                        </svg>
                                        <svg fill=currentColor
                                            class="question-chevron hidden group-hover:bg-gray-500 h-5 block text-indigo-800 bg-gray-400 rounded-full p-1"
                                            viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g stroke="currentColor" stroke-width="1" fill=currentColor
                                                fill-rule="evenodd">
                                                <g>
                                                    <polygon
                                                        points="10.7071068 7.05025253 10 6.34314575 4.34314575 12 5.75735931 13.4142136 10 9.17157288 14.2426407 13.4142136 15.6568542 12">
                                                    </polygon>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </dt>
                            <dd class="answer transition-all duration-300 hidden mt-2 leading-snug text-gray-700">
                                Our unlimited graphic design for monthly plan, you can add unlimited requests and we
                                will try to get to them as soon as
                                possible. Your designer will work on one active design request at a time. After the
                                completing one request he will pick
                                up the next request.
                            </dd>
                        </div>
                    </div>
                    <div class="lg:w-1/2">
                        <div
                            class="question-and-answer select-none hover:shadow-xl cursor-pointer border-2 mx-2 my-3 px-6 py-4 rounded-lg text-sm group">
                            <dt class="question">
                                <div class="flex justify-between">
                                    <div class="text-blue-800 font-semibold">
                                        I work with multiple brands, so will you be working on all my brand designs
                                    </div>
                                    <div>
                                        <svg fill=currentColor
                                            class="question-chevron group-hover:bg-gray-500 h-5 block text-blue-800 bg-gray-400 rounded-full p-1"
                                            viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g stroke="currentColor" stroke-width="1" fill=currentColor
                                                fill-rule="evenodd">
                                                <g>
                                                    <polygon
                                                        points="9.29289322 12.9497475 10 13.6568542 15.6568542 8 14.2426407 6.58578644 10 10.8284271 5.75735931 6.58578644 4.34314575 8">
                                                    </polygon>
                                                </g>
                                            </g>
                                        </svg>
                                        <svg fill=currentColor
                                            class="question-chevron hidden group-hover:bg-gray-500 h-5 block text-indigo-800 bg-gray-400 rounded-full p-1"
                                            viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g stroke="currentColor" stroke-width="1" fill=currentColor
                                                fill-rule="evenodd">
                                                <g>
                                                    <polygon
                                                        points="10.7071068 7.05025253 10 6.34314575 4.34314575 12 5.75735931 13.4142136 10 9.17157288 14.2426407 13.4142136 15.6568542 12">
                                                    </polygon>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </dt>
                            <dd class="answer transition-all duration-300 hidden mt-2 leading-snug text-gray-700">
                                We are here to help your business grow. You can add as many brands as you like.
                            </dd>
                        </div>
                    </div>
                    <div class="lg:w-1/2">
                        <div
                            class="question-and-answer select-none hover:shadow-xl cursor-pointer border-2 mx-2 my-3 px-6 py-4 rounded-lg text-sm group">
                            <dt class="question">
                                <div class="flex justify-between">
                                    <div class="text-blue-800 font-semibold">
                                        What is `unlimited revisions` work?
                                    </div>
                                    <div>
                                        <svg fill=currentColor
                                            class="question-chevron group-hover:bg-gray-500 h-5 block text-blue-800 bg-gray-400 rounded-full p-1"
                                            viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g stroke="currentColor" stroke-width="1" fill=currentColor
                                                fill-rule="evenodd">
                                                <g>
                                                    <polygon
                                                        points="9.29289322 12.9497475 10 13.6568542 15.6568542 8 14.2426407 6.58578644 10 10.8284271 5.75735931 6.58578644 4.34314575 8">
                                                    </polygon>
                                                </g>
                                            </g>
                                        </svg>
                                        <svg fill=currentColor
                                            class="question-chevron hidden group-hover:bg-gray-500 h-5 block text-indigo-800 bg-gray-400 rounded-full p-1"
                                            viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g stroke="currentColor" stroke-width="1" fill=currentColor
                                                fill-rule="evenodd">
                                                <g>
                                                    <polygon
                                                        points="10.7071068 7.05025253 10 6.34314575 4.34314575 12 5.75735931 13.4142136 10 9.17157288 14.2426407 13.4142136 15.6568542 12">
                                                    </polygon>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </dt>
                            <dd class="answer transition-all duration-300 hidden mt-2 leading-snug text-gray-700">
                                Monkeysingh foremost designer delivers the design, you can request for unlimited
                                revisions until you are satisfied. All
                                types of revisions will be done within 24-48 hours unless you have requested for a
                                completely new concept. This is what
                                we called unlimited graphic design monthly subscription.
                            </dd>
                        </div>
                    </div>
                    <div class="lg:w-1/2">
                        <div
                            class="question-and-answer select-none cursor-pointer border-2 mx-2 my-3 px-6 py-4 rounded-lg text-sm group">
                            <dt class="question">
                                <div class="flex justify-between">
                                    <div class="text-indigo-800 font-semibold">
                                        I am an agency, can I resell the work?
                                    </div>
                                    <div>
                                        <svg fill=currentColor
                                            class="question-chevron group-hover:bg-gray-500 h-5 block text-indigo-800 bg-gray-400 rounded-full p-1"
                                            viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g stroke="currentColor" stroke-width="1" fill=currentColor
                                                fill-rule="evenodd">
                                                <g>
                                                    <polygon
                                                        points="9.29289322 12.9497475 10 13.6568542 15.6568542 8 14.2426407 6.58578644 10 10.8284271 5.75735931 6.58578644 4.34314575 8">
                                                    </polygon>
                                                </g>
                                            </g>
                                        </svg>
                                        <svg fill=currentColor
                                            class="question-chevron hidden group-hover:bg-gray-500 h-5 block text-indigo-800 bg-gray-400 rounded-full p-1"
                                            viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g stroke="currentColor" stroke-width="1" fill=currentColor
                                                fill-rule="evenodd">
                                                <g>
                                                    <polygon
                                                        points="10.7071068 7.05025253 10 6.34314575 4.34314575 12 5.75735931 13.4142136 10 9.17157288 14.2426407 13.4142136 15.6568542 12">
                                                    </polygon>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </dt>
                            <dd class="answer hidden mt-2 leading-snug text-gray-700">
                                Sure. You own all the rights to the designs created for you. Nothing will make us
                                happier than seeing you excel in what
                                you do.
                            </dd>
                        </div>
                    </div>
                    <div class="lg:w-1/2">
                        <div
                            class="question-and-answer select-none cursor-pointer border-2 mx-2 my-3 px-6 py-4 rounded-lg text-sm group">
                            <dt class="question">
                                <div class="flex justify-between">
                                    <div class="text-indigo-800 font-semibold">
                                        How does your `Pay Per Request` ?
                                    </div>
                                    <div>
                                        <svg fill=currentColor
                                            class="question-chevron group-hover:bg-gray-500 h-5 block text-indigo-800 bg-gray-400 rounded-full p-1"
                                            viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g stroke="currentColor" stroke-width="1" fill=currentColor
                                                fill-rule="evenodd">
                                                <g>
                                                    <polygon
                                                        points="9.29289322 12.9497475 10 13.6568542 15.6568542 8 14.2426407 6.58578644 10 10.8284271 5.75735931 6.58578644 4.34314575 8">
                                                    </polygon>
                                                </g>
                                            </g>
                                        </svg>
                                        <svg fill=currentColor
                                            class="question-chevron hidden group-hover:bg-gray-500 h-5 block text-indigo-800 bg-gray-400 rounded-full p-1"
                                            viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g stroke="currentColor" stroke-width="1" fill=currentColor
                                                fill-rule="evenodd">
                                                <g>
                                                    <polygon
                                                        points="10.7071068 7.05025253 10 6.34314575 4.34314575 12 5.75735931 13.4142136 10 9.17157288 14.2426407 13.4142136 15.6568542 12">
                                                    </polygon>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </dt>
                            <dd class="answer hidden mt-2 leading-snug text-gray-700">
                                You get 5 design request credits with our $95 pay per request plan. Your plan is valid
                                for a period of one month and you
                                can redeem the credits for any of your design requests. After 30 days from the date of
                                subscription, your card will be
                                charged for $99 for another 30 days with 5 new request credits. Unused credits can't be
                                carry forwarded to the next
                                month.
                            </dd>
                        </div>
                    </div>
                    <div class="lg:w-1/2">
                        <div
                            class="question-and-answer select-none cursor-pointer border-2 mx-2 my-3 px-6 py-4 rounded-lg text-sm group">
                            <dt class="question">
                                <div class="flex justify-between">
                                    <div class="text-indigo-800 font-semibold">
                                        How does Monkeysingh compare to working with an agency?
                                    </div>
                                    <div>
                                        <svg fill=currentColor
                                            class="question-chevron group-hover:bg-gray-500 h-5 block text-indigo-800 bg-gray-400 rounded-full p-1"
                                            viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g stroke="currentColor" stroke-width="1" fill=currentColor
                                                fill-rule="evenodd">
                                                <g>
                                                    <polygon
                                                        points="9.29289322 12.9497475 10 13.6568542 15.6568542 8 14.2426407 6.58578644 10 10.8284271 5.75735931 6.58578644 4.34314575 8">
                                                    </polygon>
                                                </g>
                                            </g>
                                        </svg>
                                        <svg fill=currentColor
                                            class="question-chevron hidden group-hover:bg-gray-500 h-5 block text-indigo-800 bg-gray-400 rounded-full p-1"
                                            viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g stroke="currentColor" stroke-width="1" fill=currentColor
                                                fill-rule="evenodd">
                                                <g>
                                                    <polygon
                                                        points="10.7071068 7.05025253 10 6.34314575 4.34314575 12 5.75735931 13.4142136 10 9.17157288 14.2426407 13.4142136 15.6568542 12">
                                                    </polygon>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </dt>
                            <dd class="answer hidden mt-2 leading-snug text-gray-700">
                                We pride ourselves on our high quality which we deliver at an extremely low rate. We
                                deliver our projects at
                                approximately 80% of the cost of equivalent agency projects for the same or better
                                quality.
                            </dd>
                        </div>
                    </div>
                </dl>
            </div>
        </div>
    </div>
    <script async src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script>
        $('.question-and-answer').click(function () {
            $(this).find(".answer").toggleClass("hidden")
            $(this).find(".question-chevron").toggleClass("hidden")
        })
    </script>
</section>