<section class="py-20 px-4" id="features">
  <div class="container max-w-6xl mx-auto">
    <h2 class="text-5xl font-bold tracking-tight text-center">Our Features</h2>
    <p class="mt-2 text-lg text-center text-gray-600">Get your work done for a very small cost.</p>
    <div class="grid grid-cols-4 gap-8 mt-10 sm:grid-cols-8 lg:grid-cols-12 sm:px-8 xl:px-0">

      <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 border-2 border-gray-100 hover:bg-white sm:rounded-xl">
        <div class="p-3 w-32 h-32">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/OurFeatureImage/1__Y7EoMCba.png?updatedAt=1639935763181" alt="">
        </div>
        <h4 class="text-xl font-medium text-center text-gray-700">Unlimited Requests</h4>
        <p class="text-base text-center text-gray-500">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem nobis consequuntur ipsa, quisquam eveniet a delectus quas quam dolorem, nisi ex officia harum? Laudantium mollitia vitae quae doloribus molestias est hic dolorum.</p>
      </div>

      <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 border-2 border-gray-100 hover:bg-white sm:rounded-xl">
        <div class="p-3 w-32 h-32">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/OurFeatureImage/2_v_jBWyntf.png?updatedAt=1639935763151" alt="">
        </div>
        <h4 class="text-xl font-medium text-center  text-gray-700">Unlimited Revisions</h4>
        <p class="text-base text-center text-gray-500">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem nobis consequuntur ipsa, quisquam eveniet a delectus quas quam dolorem, nisi ex officia harum? Laudantium mollitia vitae quae doloribus molestias est hic dolorum.</p>
      </div>

      <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 border-2 border-gray-100 hover:bg-white sm:rounded-xl">
        <div class="p-3 w-32 h-32">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/OurFeatureImage/3_bT5Lg2zOb.png?updatedAt=1639935762816" alt="">
        </div>
        <h4 class="text-xl font-medium text-center text-gray-700">Fast Turnaround</h4>
        <p class="text-base text-center text-gray-500">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem nobis consequuntur ipsa, quisquam eveniet a delectus quas quam dolorem, nisi ex officia harum? Laudantium mollitia vitae quae doloribus molestias est hic dolorum.</p>
      </div>

      <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 border-2 border-gray-100 hover:bg-white sm:rounded-xl">
        <div class="p-3 w-32 h-32">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/OurFeatureImage/4_6ha5m3xtCqu.png?updatedAt=1639935762760" alt="">
        </div>
        <h4 class="text-xl font-medium text-center text-gray-700">Committed Professional Designers</h4>
        <p class="text-base text-center text-gray-500">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem nobis consequuntur ipsa, quisquam eveniet a delectus quas quam dolorem, nisi ex officia harum? Laudantium mollitia vitae quae doloribus molestias est hic dolorum.</p>
      </div>

      <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 border-2 border-gray-100 hover:bg-white sm:rounded-xl">
        <div class="p-3 w-32 h-32">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/OurFeatureImage/5_CPGynS5QT.png?updatedAt=1639935762837" alt="">
        </div>
        <h4 class="text-xl font-medium text-center text-gray-700">Client Assistance</h4>
        <p class="text-base text-center text-gray-500">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem nobis consequuntur ipsa, quisquam eveniet a delectus quas quam dolorem, nisi ex officia harum? Laudantium mollitia vitae quae doloribus molestias est hic dolorum.</p>
      </div>

      <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 border-2 border-gray-100 hover:bg-white sm:rounded-xl">
        <div class="p-3 w-32 h-32">
          <img src="https://ik.imagekit.io/gzmznzzqlrz/OurFeatureImage/6_3FaYDzkp5.png?updatedAt=1639935763157" alt="">
        </div>
        <h4 class="text-xl font-medium text-center text-gray-700">Source Files Included</h4>
        <p class="text-base text-center text-gray-500">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem nobis consequuntur ipsa, quisquam eveniet a delectus quas quam dolorem, nisi ex officia harum? Laudantium mollitia vitae quae doloribus molestias est hic dolorum.</p>
      </div>

    </div>
  </div>
</section>