<section id="howitworks" class="py-20 px-4 transition-all duration-200">
  <div class="container max-w-6xl mx-auto">
    <h2 class="text-5xl font-bold tracking-tight text-center">How it works</h2>
    <p class="mt-2 text-lg text-center text-gray-600">Spend Less Time on Marketing and Grow Your
      Business
      More Quickly</p>
    <div class="px-4 flex flex-col md:flex-row">
      <div class="m-8 hover:text-blue-700">
        <img class=" mx-auto object-contain md:object-scale-down  rounded-md m-4" style="height: 240px;" src="https://ik.imagekit.io/gzmznzzqlrz/How_it_works/1-X_VUvRGbOS_.jpeg?updatedAt=1639499819120" alt="">
        <h4 class="text-xl text-center pt-8 font-semibold">1. Submit work Requests</h4>
        <p class="py-4 mt-4 text-md text-center font-light">Tell us exactly what type of graphic work do
          you
          want</p>
      </div>
      <div class="m-8 hover:text-blue-700">
        <img class="mx-auto object-contain md:object-scale-down rounded-md m-4" style="height: 240px;" src="https://ik.imagekit.io/gzmznzzqlrz/How_it_works/2X_ojjfn2ire.jpeg?updatedAt=1639499825549?tr=w-260,h-240" alt="">
        <h4 class="text-xl text-center pt-8 font-semibold">2. Give Feedback, Get Revisions</h4>
        <p class="py-4 mt-4 text-md text-center font-light">Let us know about the changes and
          revisions
          you need.</p>
      </div>
      <div class="m-8 hover:text-blue-700">
        <img class="mx-auto object-contain md:object-scale-down rounded-md m-4" style="height: 240px;" src="https://ik.imagekit.io/gzmznzzqlrz/How_it_works/3x_VLLZpmP4h.jpeg?updatedAt=1639499825865" alt="">
        <h4 class="text-xl text-center pt-8 font-semibold">3. Approve And Download</h4>
        <p class="py-4 mt-4 text-md text-center font-light">Approve the graphic work to receive your
          source
          files.</p>
      </div>
    </div>
  </div>
</section>
<hr>