<section id="howitworks" class="py-20 px-4 transition-all duration-200">
    <div class="container max-w-6xl mx-auto">
        <h2 class="text-5xl font-bold tracking-tight text-center">How it works</h2>
        <p class="mt-2 text-lg text-center text-gray-600">Spend Less Time on Marketing and Grow Your
            Business
            More Quickly</p>
        <div class="px-4 flex flex-col md:flex-row">
            <div class="m-8 hover:text-blue-700">
                <img class=" mx-auto object-contain md:object-scale-down shadow-xl rounded-md m-4"
                    src="https://q5g9j9b9.stackpathcdn.com/wp-content/themes/kimpan/assets/images/classic/submit_step1.png"
                    alt="">
                <h4 class="text-xl text-center pt-8 font-semibold">1. Submit Design Requests</h4>
                <p class="py-4 mt-4 text-md text-center font-light">Tell us exactly what type of design do
                    you
                    want</p>
            </div>
            <div class="m-8 hover:text-blue-700">
                <img class="mx-auto object-contain md:object-scale-down shadow-xl rounded-md m-4"
                    src="https://q5g9j9b9.stackpathcdn.com/wp-content/themes/kimpan/assets/images/classic/submit_step1.png"
                    alt="">
                <h4 class="text-xl text-center pt-8 font-semibold">2. Give Feedback, Get Revisions</h4>
                <p class="py-4 mt-4 text-md text-center font-light">Let us know about the changes and
                    revisions
                    you need.</p>
            </div>
            <div class="m-8 hover:text-blue-700">
                <img class="mx-auto object-contain md:object-scale-down shadow-xl rounded-md m-4"
                    src="https://q5g9j9b9.stackpathcdn.com/wp-content/themes/kimpan/assets/images/classic/submit_step1.png"
                    alt="">
                <h4 class="text-xl text-center pt-8 font-semibold">3. Approve And Download</h4>
                <p class="py-4 mt-4 text-md text-center font-light">Approve the design to receive your
                    source
                    files.</p>
            </div>
        </div>
    </div>
</section>
<hr>