<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>About Us - MonkeySingh</title>
</head>

<body>
    <%- include("partials/primaryHeader.ejs") %>

        <!-- Hero section-->
        <div class="py-10 hidden md:block"></div>
        <section class="px-2 py-32 md:px-0" style="padding-top:50px">
            <div class="container my-12 items-center max-w-6xl px-8 mx-auto xl:px-5">
                <div class="flex my-12 flex-wrap items-center sm:-mx-3">
                    <div class="w-full py-24 text-center md:text-left md:w-1/2 md:px-3">
                        <div
                            class="w-full pb-6 space-y-6 sm:max-w-md lg:max-w-lg md:space-y-4 lg:space-y-8 xl:space-y-9 sm:pr-5 lg:pr-0 md:pb-0">
                            <h1
                                class="text-4xl font-extrabold tracking-tight text-gray-700 sm:text-5xl md:text-4xl lg:text-5xl xl:text-6xl">
                                <span class="block xl:inline">Your one-stop</span>
                                <span class="block xl:inline">solution for all</span>
                                <span class="block xl:inline">your design needs!</span>
                            </h1>
                            <p class="mx-auto text-base text-gray-500 sm:max-w-md lg:text-lg md:max-w-3xl">Your
                                on-demand graphic design service.
                                Simple, fast and affordabledesigners at fixed monthly rate</p>
                        </div>
                    </div>
                    <div class="w-full py-24 md:w-1/2">
                        <div class="w-full h-auto overflow-hidden rounded-md sm:rounded-xl">
                            <img src="https://ik.imagekit.io/gzmznzzqlrz/HeroImage/568x380_YBDAn__chL.jpeg?updatedAt=1639501426256"
                                alt="Monkeysingh">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <!-- world map section  -->
        <section class="px-2 py-32 bg-white md:px-0" style="padding-top:50px">
            <div class="container my-12 items-center max-w-6xl px-8 mx-auto xl:px-5">
                <div class="flex my-12 flex-wrap items-center sm:-mx-3">
                    <div class="w-full py-24 text-center md:text-left md:px-3">
                        <div class="w-full pb-6 mb-12 text-center ">
                            <h1
                                class="text-3xl font-extrabold tracking-tight my-4 text-gray-900 sm:text-4xl md:text-3xl lg:text-4xl xl:text-5xl">
                                <span class="block xl:inline">We run all kinds of Graphic Design services that wow your
                                    success</span>
                            </h1>
                            <p class="mx-auto text-lg text-gray-500 sm:max-w-md lg:text-2xl">We help our customers plan
                                better and scale quicker with an adaptable, reasonable visual communication
                                administration</p>
                        </div>
                    </div>
                    <div class="w-full py-24 flex justify-center items-center">
                        <div class=" mx-auto text-center h-auto overflow-hidden rounded-md sm:rounded-xl">
                            <img class="mx-auto text-center w-1/2" style="width: 600px; height: 300px; "
                                src="https://ik.imagekit.io/gzmznzzqlrz/_Pngtree_hand_drawn_world_map_icon_5494322_t8viKSYjfLc.png?updatedAt=1640238543930"
                                alt="Monkeysingh">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <!-- story section  -->
        <section class="px-2 pt-32 md:px-0" style="padding-top:50px">
            <div class="container my-12 items-center max-w-6xl px-8 mx-auto xl:px-5">
                <div class="flex my-12 flex-wrap items-center sm:-mx-3">
                    <div class="w-full py-24 text-center md:text-left md:w-1/2 md:px-3">
                        <div
                            class="w-full pb-6 space-y-6 sm:max-w-md lg:max-w-lg md:space-y-4 lg:space-y-8 xl:space-y-9 sm:pr-5 lg:pr-0 md:pb-0">
                            <h1
                                class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl md:text-3xl lg:text-4xl xl:text-5xl">
                                <span class="block xl:inline">Our Story</span>
                            </h1>
                            <p class="mx-auto text-lg text-gray-500 sm:max-w-md lg:text-2xl md:max-w-3xl">Monkeysingh
                                was established on the possibility of inclusivity and regard for variety. We are a brand
                                that is run
                                significantly by Man. Our author’s vision is driven by her eagerness for social variety.
                                We trust in making a work
                                culture that turns into a space for all, group, and client base the same</p>
                            <br>
                            <p class="mx-auto text-lg text-gray-500 sm:max-w-md lg:text-2xl md:max-w-3xl">At
                                Monkeysingh, Man has taken key situations to transform a thought into an effective
                                undertaking. Beginning from Sumit
                                family room with a modest bunch of customers and step by step proceeding onward to
                                getting customers from different
                                states in the India, the business of best unlimited graphic design acquired energy, and
                                we in the long run extended our
                                customer base into different nations. Today we work with plenty of Small Business
                                Owners, Startups, and Agencies across
                                landmasses like Canada, Europe, Asia, and Australia. <br>
                                We offer every minute of every day client care for a wide range of questions and a
                                14-day Money Back Guarantee with no
                                responsibilities. Our motivation is to convey innovatively made plans at reasonable
                                costs. We accept that plan is a
                                language, and we need to help our customers ideal the craft of correspondence through
                                advancement and innovativeness.
                                <br>
                                Founder <br>
                                Sumit Khatod
                            </p>

                        </div>
                    </div>
                    <div class="w-full py-24 md:w-1/2">
                        <div class="w-full h-auto overflow-hidden rounded-md sm:rounded-xl">
                            <img src="https://ik.imagekit.io/gzmznzzqlrz/583_X_773_qlNPueTJJ.jpg?updatedAt=1639936749940"
                                alt="Monkeysingh">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include("partials/footer.ejs") %>
</body>

</html>