<form action="/create-new-blogpost" method="post">
    <input type="text" placeholder="title" name="title" id="">
    <input type="text" placeholder="author" name="author" id="">
    <input type="text" placeholder="description" name="description" id="">
    <input type="text" placeholder="category" name="category" id="">
    <button>Submit</button>
</form>