<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/static/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>

<body>
  <!-- Header -->
  <%- include("partials/secondaryHeader.ejs") %>
  <!-- component -->

  <div class="font-mono">
    <!-- Container -->
    <div class="container mx-auto lg:my-12">
      <div class="flex justify-center">
        <!-- Row -->
        <div class="w-full xl:w-3/4 lg:w-11/12 flex">
          <!-- Col -->
          <div class="w-full h-auto bg-gray-400 hidden lg:block lg:w-5/12 bg-cover rounded-l-lg" style="background-image: url('https://ik.imagekit.io/gzmznzzqlrz/391X397_LxZk-Wked.jpg?updatedAt=1639936749452')">
          </div>
          <!-- Col -->
          <div class="w-full lg:w-7/12 bg-white p-5 rounded-lg lg:rounded-l-none">
            <hr>
            <h3 class="pt-4 text-2xl text-center">Enter New Password !</h3>
            <form class="px-8 pt-6 pb-8 mb-4 bg-white rounded" action="/user/changepassword" method="post">
              <div class="mb-4">
                <div class="mb-4 md:mr-1 md:mb-0">
                  <label class="block mb-2 text-sm font-bold text-gray-700" for="password">
                    New Password
                  </label>
                  <input class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" id="password" type="password" name="password" placeholder="Enter New Password" />
                </div>
              </div>
              <div class="mb-4">
                <input type="checkbox" onclick="togglePasswordVisibility()">&nbsp;Show Password
                <script>
                  function togglePasswordVisibility() {
                    var x = document.getElementById("password");
                    if (x.type === "password") {
                      x.type = "text";
                    } else {
                      x.type = "password";
                    }
                  }
                </script>
              </div>
              <div class="mb-6 text-center">
                <button class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline">
                  Submit New Password
                </button>
              </div>
            </form>
            <hr class="mb-6 border-t" />
            <div class="text-center my-2">
              <a class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800" href="/user/login">
                Already have an account? Login!
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>