<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <title>Checkout</title>
</head>

<body>
  <!-- component -->
  <div class="bg-gray-100 h-screen">
    <div class="bg-white p-6  md:mx-auto">
      <svg viewBox="0 0 24 24" class="text-green-600 w-16 h-16 mx-auto my-6">
        <path fill="currentColor" d="M12,0A12,12,0,1,0,24,12,12.014,12.014,0,0,0,12,0Zm6.927,8.2-6.845,9.289a1.011,1.011,0,0,1-1.43.188L5.764,13.769a1,1,0,1,1,1.25-1.562l4.076,3.261,6.227-8.451A1,1,0,1,1,18.927,8.2Z">
        </path>
      </svg>
      <div class="text-center">
        <h3 class="md:text-2xl text-base text-gray-900 font-semibold text-center">Complete Your Payment</h3>
        <p class="text-gray-600 my-2">Please do not press the back button untill the process is complete</p>
        <p> Have a great day! </p>
        <div class="py-10 text-center">
          <button id="rzp-button1" class="text-white bg-blue-600 rounded-md px-6 py-2">Pay</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    axios.post("/payment/one-time-access").then((info) => {
      console.log(info)
      var options = {
        "key": "rzp_test_Au3uO8cawOO3zg",
        "name": "Project Managment App",
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "subscription_id": info.data.id,
        "callback_url": "/payment/verify",
        "recurring": true,
        "prefill": {
          "name": "<%= user.username %>",
          "email": "<%= user.email %>",
          "method": ["card", "upi", "wallet", "netbanking"],
        },
        "notes": {
          "address": "Razorpay Corporate Office"
        },
        "send_sms_hash": true,
        "readonly": {
          "contact": true,
          "email": true,
          "name": true
        },
        "theme": {
          "color": "#3399cc"
        }
      };
      var rzp1 = new Razorpay(options);
      document.getElementById('rzp-button1').onclick = function(e) {
        rzp1.open();
        e.preventDefault();
      }
    })
  </script>
</body>

</html>