<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>How it Works - Monkeysingh</title>
</head>

<body>
    <%- include("partials/primaryHeader.ejs") %>

        <!-- how it works  -->
        <%- include("sections/howitworks.ejs") %>
            <hr>
            <!-- faqs-->
            <%- include("sections/faqs.ejs") %>

                <%- include("partials/footer.ejs") %>
</body>

</html>