<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Login - MonkeySingh</title>
</head>

<body class="">
    <!-- component -->
    <!-- Header -->
    <header>
        <section class="relative border w-full px-8 text-gray-700 bg-white body-font">
            <div
                class="container flex flex-col flex-wrap items-center justify-between py-5 mx-auto md:flex-row max-w-7xl">
                <a href="/"
                    class="relative z-10 flex items-center w-auto text-2xl font-extrabold leading-none text-black select-none">monkeysingh.</a>

                <nav
                    class="top-0 left-0 z-0 flex items-center justify-center w-full h-full py-5 -ml-0 space-x-5 text-base md:-ml-5 md:py-0 md:absolute">
                    <a href="/"
                        class="relative font-medium leading-6 text-gray-600 transition duration-150 ease-out hover:text-gray-900"
                        x-data="{ hover: false }" @mouseenter="hover = true" @mouseleave="hover = false">
                        <span class="block">Home</span>
                        <span class="absolute bottom-0 left-0 inline-block w-full h-0.5 -mb-1 overflow-hidden">
                            <span x-show="hover"
                                class="absolute inset-0 inline-block w-full h-1 h-full transform bg-gray-900"
                                x-transition:enter="transition ease duration-200" x-transition:enter-start="scale-0"
                                x-transition:enter-end="scale-100" x-transition:leave="transition ease-out duration-300"
                                x-transition:leave-start="scale-100" x-transition:leave-end="scale-0"
                                style="display: none;"></span>
                        </span>
                    </a>
                    <a href="#features"
                        class="relative font-medium leading-6 text-gray-600 transition duration-150 ease-out hover:text-gray-900"
                        x-data="{ hover: false }" @mouseenter="hover = true" @mouseleave="hover = false">
                        <span class="block">Features</span>
                        <span class="absolute bottom-0 left-0 inline-block w-full h-0.5 -mb-1 overflow-hidden">
                            <span x-show="hover"
                                class="absolute inset-0 inline-block w-full h-1 h-full transform bg-gray-900"
                                x-transition:enter="transition ease duration-200" x-transition:enter-start="scale-0"
                                x-transition:enter-end="scale-100" x-transition:leave="transition ease-out duration-300"
                                x-transition:leave-start="scale-100" x-transition:leave-end="scale-0"
                                style="display: none;"></span>
                        </span>
                    </a>
                    <a href="/pricing"
                        class="relative font-medium leading-6 text-gray-600 transition duration-150 ease-out hover:text-gray-900"
                        x-data="{ hover: false }" @mouseenter="hover = true" @mouseleave="hover = false">
                        <span class="block">Pricing</span>
                        <span class="absolute bottom-0 left-0 inline-block w-full h-0.5 -mb-1 overflow-hidden">
                            <span x-show="hover"
                                class="absolute inset-0 inline-block w-full h-1 h-full transform bg-gray-900"
                                x-transition:enter="transition ease duration-200" x-transition:enter-start="scale-0"
                                x-transition:enter-end="scale-100" x-transition:leave="transition ease-out duration-300"
                                x-transition:leave-start="scale-100" x-transition:leave-end="scale-0"
                                style="display: none;"></span>
                        </span>
                    </a>
                    <a href="/blog"
                        class="relative font-medium leading-6 text-gray-600 transition duration-150 ease-out hover:text-gray-900"
                        x-data="{ hover: false }" @mouseenter="hover = true" @mouseleave="hover = false">
                        <span class="block">Blog</span>
                        <span class="absolute bottom-0 left-0 inline-block w-full h-0.5 -mb-1 overflow-hidden">
                            <span x-show="hover"
                                class="absolute inset-0 inline-block w-full h-1 h-full transform bg-gray-900"
                                x-transition:enter="transition ease duration-200" x-transition:enter-start="scale-0"
                                x-transition:enter-end="scale-100" x-transition:leave="transition ease-out duration-300"
                                x-transition:leave-start="scale-100" x-transition:leave-end="scale-0"
                                style="display: none;"></span>
                        </span>
                    </a>
                </nav>


            </div>
        </section>
    </header>
    <div>
        <!-- Container -->
        <div class="font-mono container mx-auto lg:my-12">
            <div class="flex justify-center">
                <!-- Row -->
                <div class="w-full xl:w-3/4 lg:w-11/12 flex">
                    <!-- Col -->
                    <div class="w-full h-auto bg-gray-400 hidden lg:block lg:w-5/12 bg-cover rounded-l-lg"
                        style="background-image: url('https://source.unsplash.com/Mv9hjnEUHR4/600x800')"></div>
                    <!-- Col -->
                    <div class="w-full lg:w-7/12 bg-white p-5 rounded-lg lg:rounded-l-none">
                        <h3 class="pt-4 text-2xl text-center">Login your Account!</h3>
                        <form class="px-8 pt-6 pb-8 mb-4 bg-white rounded" action="/login" method="post"
                            name="loginForm" onsubmit="return validateLoginForm()">
                            <div class="mb-4">
                                <label class="block mb-2 text-sm font-bold text-gray-700" for="username">
                                    Username
                                </label>
                                <input
                                    class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                    id="username" type="text" name="username" placeholder="Username" />
                                <p class="text-xs italic text-red-500 hidden blankUsernameAlert">Please fill the
                                    password.
                                </p>

                            </div>
                            <div class="mb-4">
                                <label class="block mb-2 text-sm font-bold text-gray-700" for="password">
                                    Password
                                </label>
                                <input
                                    class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                    id="password" type="password" name="password" placeholder="******************" />
                                <p class="text-xs italic text-red-500 hidden blankPasswordAlert">Please fill the
                                    password.
                                </p>
                            </div>
                            <div class="mb-6 text-center">
                                <button
                                    class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline">
                                    Log In !
                                </button>
                            </div>
                            <hr class="mb-6 border-t" />
                            <div class="text-center">
                                <a class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
                                    href="/forgotpassword">
                                    Forgot Password?
                                </a>
                            </div>
                            <div class="text-center my-4">
                                <a class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
                                    href="/register">
                                    Create a new account? Register!
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    function validateLoginForm() {
        let username = document.forms["loginForm"]["username"].value
        let password = document.forms["loginForm"]["password"].value
        if (username.length == 0) {
            document.getElementsByClassName("blankUsernameAlert").css.display = "block";
            return false;
        }
        else if (password.length == 0) {
            document.getElementsByClassName("blankPasswordAlert").css.display = "block";
            return false;
        }
    }
</script>

</html>