<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - MonkeySingh</title>
</head>

<body>
    <!-- Header -->
    <header>
        <section class="relative border w-full px-8 text-gray-700 bg-white body-font">
            <div
                class="container flex flex-col flex-wrap items-center justify-between py-5 mx-auto md:flex-row max-w-7xl">
                <a href="/"
                    class="relative z-10 flex items-center w-auto text-2xl font-extrabold leading-none text-black select-none">monkeysingh.</a>

                <nav
                    class="top-0 left-0 z-0 flex items-center justify-center w-full h-full py-5 -ml-0 space-x-5 text-base md:-ml-5 md:py-0 md:absolute">
                    <a href="/"
                        class="relative font-medium leading-6 text-gray-600 transition duration-150 ease-out hover:text-gray-900"
                        x-data="{ hover: false }" @mouseenter="hover = true" @mouseleave="hover = false">
                        <span class="block">Home</span>
                        <span class="absolute bottom-0 left-0 inline-block w-full h-0.5 -mb-1 overflow-hidden">
                            <span x-show="hover"
                                class="absolute inset-0 inline-block w-full h-1 h-full transform bg-gray-900"
                                x-transition:enter="transition ease duration-200" x-transition:enter-start="scale-0"
                                x-transition:enter-end="scale-100" x-transition:leave="transition ease-out duration-300"
                                x-transition:leave-start="scale-100" x-transition:leave-end="scale-0"
                                style="display: none;"></span>
                        </span>
                    </a>
                    <a href="#features"
                        class="relative font-medium leading-6 text-gray-600 transition duration-150 ease-out hover:text-gray-900"
                        x-data="{ hover: false }" @mouseenter="hover = true" @mouseleave="hover = false">
                        <span class="block">Features</span>
                        <span class="absolute bottom-0 left-0 inline-block w-full h-0.5 -mb-1 overflow-hidden">
                            <span x-show="hover"
                                class="absolute inset-0 inline-block w-full h-1 h-full transform bg-gray-900"
                                x-transition:enter="transition ease duration-200" x-transition:enter-start="scale-0"
                                x-transition:enter-end="scale-100" x-transition:leave="transition ease-out duration-300"
                                x-transition:leave-start="scale-100" x-transition:leave-end="scale-0"
                                style="display: none;"></span>
                        </span>
                    </a>
                    <a href="/pricing"
                        class="relative font-medium leading-6 text-gray-600 transition duration-150 ease-out hover:text-gray-900"
                        x-data="{ hover: false }" @mouseenter="hover = true" @mouseleave="hover = false">
                        <span class="block">Pricing</span>
                        <span class="absolute bottom-0 left-0 inline-block w-full h-0.5 -mb-1 overflow-hidden">
                            <span x-show="hover"
                                class="absolute inset-0 inline-block w-full h-1 h-full transform bg-gray-900"
                                x-transition:enter="transition ease duration-200" x-transition:enter-start="scale-0"
                                x-transition:enter-end="scale-100" x-transition:leave="transition ease-out duration-300"
                                x-transition:leave-start="scale-100" x-transition:leave-end="scale-0"
                                style="display: none;"></span>
                        </span>
                    </a>
                    <a href="/blog"
                        class="relative font-medium leading-6 text-gray-600 transition duration-150 ease-out hover:text-gray-900"
                        x-data="{ hover: false }" @mouseenter="hover = true" @mouseleave="hover = false">
                        <span class="block">Blog</span>
                        <span class="absolute bottom-0 left-0 inline-block w-full h-0.5 -mb-1 overflow-hidden">
                            <span x-show="hover"
                                class="absolute inset-0 inline-block w-full h-1 h-full transform bg-gray-900"
                                x-transition:enter="transition ease duration-200" x-transition:enter-start="scale-0"
                                x-transition:enter-end="scale-100" x-transition:leave="transition ease-out duration-300"
                                x-transition:leave-start="scale-100" x-transition:leave-end="scale-0"
                                style="display: none;"></span>
                        </span>
                    </a>
                </nav>


            </div>
        </section>
    </header>
    <!-- component -->

    <div class="font-mono">
        <!-- Container -->
        <div class="container mx-auto lg:my-12">
            <div class="flex justify-center">
                <!-- Row -->
                <div class="w-full xl:w-3/4 lg:w-11/12 flex">
                    <!-- Col -->
                    <div class="w-full h-auto bg-gray-400 hidden lg:block lg:w-5/12 bg-cover rounded-l-lg"
                        style="background-image: url('https://source.unsplash.com/Mv9hjnEUHR4/600x800')"></div>
                    <!-- Col -->
                    <div class="w-full lg:w-7/12 bg-white p-5 rounded-lg lg:rounded-l-none">
                        <h3 class="pt-4 text-2xl text-center">Create an Account!</h3>
                        <form class="px-8 pt-6 pb-8 mb-4 bg-white rounded" action="/register" method="post">
                            <div class="mb-4 md:flex md:justify-between">
                                <div class="mb-4 md:mr-2 md:mb-0">
                                    <label class="block mb-2 text-sm font-bold text-gray-700" for="firstName">
                                        First Name
                                    </label>
                                    <input
                                        class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                        id="firstName" type="text" name="firstName" placeholder="First Name" />
                                </div>
                                <div class="md:ml-2">
                                    <label class="block mb-2 text-sm font-bold text-gray-700" for="lastName">
                                        Last Name
                                    </label>
                                    <input
                                        class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                        id="lastName" type="text" name="lastName" placeholder="Last Name" />
                                </div>
                            </div>
                            <div class="mb-4">
                                <label class="block mb-2 text-sm font-bold text-gray-700" for="email">
                                    Email
                                </label>
                                <input
                                    class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                    id="email" type="email" name="email" placeholder="Email" />
                            </div>
                            <div class="mb-4">
                                <label class="block mb-2 text-sm font-bold text-gray-700" for="username">
                                    Username
                                </label>
                                <input
                                    class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                    id="username" type="text" name="username" placeholder="Username" />
                            </div>
                            <div class="mb-4 md:flex md:justify-between">
                                <div class="mb-4 md:mr-2 md:mb-0">
                                    <label class="block mb-2 text-sm font-bold text-gray-700" for="password">
                                        Password
                                    </label>
                                    <input
                                        class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                                        id="password" type="password" name="password"
                                        placeholder="******************" />
                                </div>
                            </div>
                            <div class="mb-6 text-center">
                                <button
                                    class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-none focus:shadow-outline">
                                    Register Account
                                </button>
                            </div>
                            <hr class="mb-6 border-t" />
                            <% if(err){ %>
                                <div class="text-center my-2">
                                    <p class="text-red-500 text-sm align-baseline">
                                        <%= err.message %>
                                    </p>
                                </div>
                                <% } %>
                                    <div class="text-center my-2">
                                        <a class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
                                            href="/login">
                                            Already have an account? Login!
                                        </a>
                                    </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>